{{define "title"}}App Publisher{{end}}
{{template "head" .}}
<p class="header"><a href="/">Mochi</a> | App Publisher</p>

{{if len .apps}}<ul>{{range .apps}}<li><a href="/app/{{.id}}/{{.name}}">{{.name}}</a></li>{{end}}</ul>
{{else}}<p>You have no apps</p>{{end}}

<p><a href="/app/new">New app</a></p>

{{template "foot" .}}
