{{define "title"}}{{.app.name}}{{end}}
{{template "head" .}}
<p class="header"><a href="/">Mochi</a> | <a href="/app">App Publisher</a> | {{.app.name}}</p>

<h2>{{.app.name}}</h2>
<p>ID: {{.app.id}}<br/>
Fingerprint: {{.app.fingerprint}}<br/>
Privacy: {{.app.privacy}}</p>

{{if len .tracks}}
<h3>Tracks</h3>
<p>
{{range .tracks}}{{.track}}: {{.version}}<br/>{{end}}
{{end}}

{{if len .versions}}
<h3>Versions</h3>
<p>
{{range .versions}}{{.version}}: {{.file}}<br/>{{end}}
{{end}}

<h3>Upload new version</h3>
<form method="post" enctype="multipart/form-data" action="/app/{{.app.id}}/version/create">
	<label for="file">File to upload:</label>
	<input type="file" name="file" accept=".zip"><br/>
	{{if .administrator}}<label for="install">Also install locally:</label>
	<select name="install">
		<option value="no">No</option>
		<option value="yes">Yes</option>
	</select><br/>{{end}}
	<input type="submit" value="Upload"/>
</form>

{{template "foot" .}}
